.footer_container {
  border: 1px solid red;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer_sponsor {
  /* border: 1px dashed black; */
  width: 45%;
  display: flex;
  margin-left: 6%;
}

.footer_sponsor__title {
  /* border: 1px dashed blue; */
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  margin-right: 10px;
}

.footer_sponsor__ticker {
  overflow: hidden;
  /* border: 1px dashed greenyellow; */
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
}

.footer_sponsor__sponsors {
  position: relative;
  white-space: nowrap;
  animation: move-words 25s linear infinite;
  margin: 0;
  font-size: 25px;
}

@keyframes move-words {
  0% {
    right: 200%;
  }
  100% {
    right: -100%;
  }
}
