.app_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__background_image {
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.app__background_accent {
  position: absolute;
  z-index: -2;
  height: 100%;
  opacity: 0.6;
}
