.login-form-container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 500px;
}

.test-image {
    position:absolute;
    z-index: 0;
    filter: blur(6px)
}

.login-form {
    border: 2px solid #EBFFF7;
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 1;
    border-radius: 5px;
    background-color: rgba(235, 255, 247, .4);
}

.login-form__row-one {
    border: 2px  green;

}

.login-form__title {
    font-size: 35px;
    font-family: 'Fanwood Text', serif;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #EBFFF7
}

.login-form__input {
    height: 45px;
    margin-top: 2.5rem;
    /* opacity: .4; */
    background-color: rgba(235, 255, 247, .5);
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    padding-left: 30px;
}

.login-form__input::placeholder {
    color: rgb(46, 46, 46);
}

.login-form__row-two {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}


.login-form__row-three {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2.5rem;
}

.login-form__row-four {
    margin-top: 5px;
    color: rgb(173, 0, 0);
    margin-left: 35px;
    height: 15px;
}

.login-form__button {
    width: 99%;
    height: 45px;
    font-family: 'Fanwood Text', serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-top: 15px;
    background-color: rgba(235, 255, 247, 0.8);
    transition:
        background-color 1s;
}

.login-form__button:hover {
    background-color: rgba(235, 255, 247, 1);
}

.login-form__row-five {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    height: 15%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
}

.login-form__switch {
    align-self: flex-end;
    color: #EBFFF7;
}

.login-form__forgot {
    align-self: flex-end;
    color: #EBFFF7;
}

a {
    text-decoration: none;
    color: #02223c;
    font-weight: 600;
    transition:
        color 1s,
        font-weight 1s;
}

a:hover {
    color: #024b86;
    font-weight: 900;
    text-decoration: underline;
}