.login-form-container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 500px;
}

.test-image {
    position:absolute;
    z-index: 0;
    filter: blur(6px)
}

.login-form {
    border: 2px solid #EBFFF7;
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 1;
    border-radius: 5px;
    background-color: rgba(235, 255, 247, .4);
}

.login-form__row-one {
    border: 2px  green;

}

.login-form__title {
    font-size: 25px;
    margin-left: 30px;
    margin-top: 50px;
    color: #EBFFF7
}

.login-form__input {
    height: 45px;
    margin-top: 2.5rem;
    /* opacity: .4; */
    background-color: rgba(235, 255, 247, .5);
    border-radius: 5px;
    border: none;
}

.login-form__input::placeholder {
    color: rgb(30, 30, 30);
}

.login-form__row-two {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.login-form__row-three {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2.5rem;
}

.login-form__button {
    width: 99%;
    height: 45px;
    border-radius: 5px;
    border: none;
    /* border-color: rgba(235, 255, 247, 0.461); */

}

.login-form__row-four {
    margin-top: 50px;
    border: 2px dashed blueviolet;
    height: 15%;
    
}